.hljs {
    font-family: monospace;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.hljs-comment,
.hljs-quote,
.hljs-meta {
    color: #808080;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag,
.hljs-name {
    color: #FF7A77;
}

.hljs-attribute,
.hljs-selector-id {
    color: #ffffb6;
}

.hljs-string,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition {
    color: #FFFFFF;
}

.hljs-subst {
    color: #daefa3;
}

.hljs-regexp,
.hljs-link {
    color: #e9c062;
}

.hljs-title,
.hljs-section,
.hljs-type,
.hljs-doctag {
    color: #FFFFFF;
}

.hljs-symbol,
.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-literal {
    color: #c6c5fe;
}

.hljs-number,
.hljs-deletion {
    color:#FFFFFF;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
