/*==========*/
/* Main CSS */
/*==========*/


/* Colours */
/*=========*/

:root {
    /* Main Theme */
    --col-primary: #FFFFFF;
    --col-secondary: #D0D0D0;
    --col-tertiary: #808080;
    --col-accent: #FFFFFF;

    --col-base: #000000;
    --col-inv: #FFFFFF;
}

/* Main */
/*======*/

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif, monospace;
    background-color: var(--col-base);
    color: var(--col-inv);
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px; 
    padding: 0;
    margin-top: 0;
}

/* Header */
/*========*/

.main-header {
    margin-left: var(--nav-width);
    background-color: var(--col-base);
    top: 0;
    overflow-x: hidden;
    position: sticky;
    padding: 4px 8px 4px 8px;
}

.nav-button {
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-icon {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 4px 0;

}

/* Navigation Pane */
/*=================*/

:root {
    /* Navigation Pane */
    --nav-col-bg: var(col-base);
    --nav-col-fg: var(col-inv);
    --nav-width: 200px;
    --nav-list-indent: 16px;
    --nav-list-col-h1: var(--nav-col-fg);
    --nav-list-col-h2: var(--col-tertiary);
    --nav-list-col-link: var(--col-secondary);
    --nav-list-col-link-hovered: var(--nav-col-fg);
}

.nav {
    display: flex;
    flex-direction: column;
    background-color: var(--nav-col-bg);
    color: var(--nav-col-fg);
    height: 100vh;
    width: var(--nav-width);
    top: 0;
    z-index: 1;
    position: fixed;
    border-right: 1px solid var(--col-accent);
    overflow-x: hidden;

}

.nav header {
    background-color: var(--col-base);
    position: sticky;
    border-right: 1px solid var(--col-accent);
    text-align: center;
}

.nav header a {
    color: var(--nav-col-fg);
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

.nav-list {
    padding: 0px 10px 0px 32px;
    overflow: scroll;
    user-select: none; /* Chrome and Opera */
    -moz-user-select: none; /* Firefox */
    -webkit-text-select: none; /* IOS Safari */
    -webkit-user-select: none; /* Safari */
}

.nav-list span {
    display: block;
}

.nav-list a {
    display: block;
    color: var(--nav-list-col-link);
    text-decoration: none;
    cursor: pointer;
    cursor: hand;
}

.nav-1 {
    font-size: 1em;
}

.nav-2 {
    text-indent: calc(var(--nav-list-indent) * 1);
}

.nav-3 {
    text-indent: calc(var(--nav-list-indent) * 2);
}

.nav-h1 {
    color: var(--nav-list-col-h1);
}

.nav-h2 {
    color: var(--nav-list-col-h2);
    font-size: 0.9em;
    font-style: italic;
}

.nav-list a:hover {
    color: var(--nav-list-col-link-hovered);
    font-size: 1.05em;
}

.nav-list-fade-top,
.nav-list-fade-bottom {
    display: block;
    position: sticky;
    height: 20px;
    background-color: none;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.nav-list-fade-top {
    top: 0;
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
}

.nav-list-fade-bottom {
    bottom: 0;
    background-image: linear-gradient(to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
}

/* Content Page */
/*==============*/

.page { 
    margin-left: var(--nav-width);
    padding-left: 32px;
    padding-right: 32px;
    overflow: scroll;
}

.page h1 {
    margin: 0;
}

.page h2 {
    margin: 0;
}

.page hr {
    background-color: var(--col-inv);
    border: none;
    height: 1px;
    margin: 0;
    margin-bottom: 1em;
}

.page p {
    text-align: justfiy;
}

.page .web-link {
    color: var(--col-secondary);
}

.page .web-link:hover {
    color: var(--col-inv);
}

/* Device Specific */
/*=================*/

@media screen and (max-width: 480px) {
    .nav {
        width: 0;
        border-right: 0;
    }
    .main-header {
        margin-left: 0;
    }
    .page { 
        margin-left: 0;
    }
}
